@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,700;1,900&display=swap');
@import 'tailwindcss';
@import '@repo/tailwind-config';
html{
    overflow-x: hidden !important;
}


/* Mapped token for RLC */
:root{
  --text-headings-dark: var(--color-neutral-900---p-dark);
--text-body-dark: var(--color-neutral-700---body);
--text-eyebrow-dark: var(--color-teal-800---p);
--text-link: var(--color-teal-800---p);
--text-link-hover: var(--color-teal-600);
--text-success: var(--color-success-800);
--text-warning: var(--color-warning-700);
--text-error: var(--color-error-700);
--text-link-disabled: var(--color-neutral-500);
--text-button: var(--color-base-black);
--text-disabled: var(--color-neutral-600);
--surface-background: var(--color-cream-50---p-background);
--surface-card: var(--color-base-white);
--surface-success: var(--color-success-50);
--surface-disabled-light: var(--color-neutral-200);
--surface-warning: var(--color-warning-50);
--surface-error: var(--color-error-50);
--surface-button: var(--color-yellow-400---p);
--icon-primary-dark: var(--color-neutral-900---p-dark);
--icon-button: var(--color-base-black);
--text-secondary-button: var(--color-neutral-900---p-dark);
--icon-success: var(--color-success-200);
--icon-disabled-dark: var(--color-neutral-500);
--icon-warning: var(--color-warning-300);
--icon-error: var(--color-error-300);
--text-hyperlink: var(--color-teal-600);
--text-hyperlink-hover: var(--color-teal-800---p);
--stroke-primary: var(--color-neutral-900---p-dark);
--icon-link-hover: var(--color-teal-600);
--stroke-secondary-button: var(--color-neutral-900---p-dark);
--logo-icon: var(--color-navy-primary-600);
--stroke-card: var(--color-cream-200);
--surface-button-hover: var(--color-yellow-500);
--stroke-error: var(--color-error-800);
--surface-secondary-background: var(--color-base-white);
--text-placeholder: var(--color-neutral-800);
--surface-search-button: var(--color-teal-300);
--text-filled: var(--color-neutral-800);
--logo-text: var(--color-base-white);
--surface-switcher-progress-default: var(--color-teal-100);
--surface-accordion-selected: var(--color-teal-50);
--surface-switcher-default: var(--color-teal-200);
--surface-switcher-active: var(--color-teal-100);
--surface-scroll: var(--color-cyan-300);
--surface-link: var(--color-teal-700);
--text-button-hover: var(--color-base-black);
--icon-button-hover: var(--color-navy-primary-900---p);
--surface-eyebrow: var(--color-alphas-teal);
--surface-button-active: var(--color-navy-primary-900---p);
--text-eyebrow-date: var(--color-teal-600);
--surface-tabbed-switcher: var(--color-base-white);
--surface-cta-bar: var(--color-navy-primary-500);
--surface-accordion-default: var(--color-base-white);
--icon-contained-icon: var(--color-teal-800---p);
--surface-input: var(--color-base-white);
--text-link-active: var(--color-navy-primary-900---p);
--surface-blog-cta-card: var(--color-alphas-cream);
--surface-blog-cta-button: var(--color-navy-primary-700);
--text-blog-cta-card: var(--color-teal-700);
--text-blog-cta-button: var(--color-base-white);
--stroke-table-of-contents: var(--color-teal-600);
--surface-table-cell: var(--color-cream-100);
--text-nav-item-light: var(--color-base-white);
--stroke-secondary-button-hover: var(--color-teal-800---p);
--surface-secondary-button: var(--color-base-white);
--surface-secondary-button-hover: var(--color-base-white);
--icon-secondary-button: var(--color-neutral-900---p-dark);
--stroke-eyebrow: var(--color-base-black);
--stroke-pagination: var(--color-neutral-300);
--stroke-card-hover: var(--color-cream-400);
--surface-card-hover: var(--color-neutral-50----p-background);
--icon-contained-icon-hover: var(--color-teal-600);
--surface-accent-background: var(--color-teal-800---p);
--stroke-secondary: var(--color-neutral-300);
--surface-primary-outline-button: var(--surface-background);
--surface-primary-outline-button-hover: var(--color-neutral-900---p-dark);
--stroke-disabled: var(--color-neutral-500);
--text-primary-outline-button: var(--color-base-black);
--icon-stroke-button: var(--color-base-black);
--surface-dropdown-selected: var(--color-yellow-200);
--surface-dropdown-hover: var(--color-yellow-100);
--text-secondary-outline-button: var(--color-cyan-600);
--surface-secondary-outline-button: var(--surface-background);
--surface-secondary-outline-button-hover: var(--color-alphas-navy);
--stroke-secondary-outilne-button: var(--color-navy-primary-700);
--surface-fpo: var(--color-teal-700);
--icon-secondary-button-hover: var(--color-teal-800---p);
--text-secondary-button-hover: var(--color-teal-800---p);
--text-secondary-link: var(--color-base-white);
--icon-secondary-link: var(--color-base-white);
--icon-secondary-link-hover: var(--color-neutral-100);
--text-secondary-link-hover: var(--color-neutral-100);
--illustration-primary: var(--color-yellow-400---p);
--illustration-dark: var(--color-teal-800---p);
--illustration-light: var(--color-teal-500);
--illustration-secondary: var(--color-teal-100);
--switchback-icon-color: var(--color-teal-800---p);
--surface-checkmark-hover: var(--color-teal-50);
--surface-carousel: var(--color-teal-100);
--surface-carousel-hover: var(--color-teal-200);
--icon-link-active: var(--color-navy-primary-900---p);
--icon-link: var(--color-teal-800---p);
--surface-pagination: var(--color-yellow-300);
--surface-image-card: var(--color-teal-800---p);
--text-on-surface-image-card: inherit;
--stroke-testimonial-1: var(--color-yellow-400---p);
--stroke-testimonial-2: var(--color-teal-800---p);
--stroke-testimonial-3: var(--color-teal-300);
--text-headings-light: var(--color-base-white);
--text-body-light: var(--color-neutral-300);
--text-eyebrow-light: var(--color-base-white);
--icon-primary-light: var(--color-base-white);
--surface-disabled-dark: var(--color-neutral-700---body);
--icon-disabled-light: var(--color-neutral-200);
--surface-accent-card: #efe9e3;
--surface-accent-background-2: var(--color-cream-100);
--text-eyebrow-on-surface-accent:var(--color-teal-800---p);
--text-heading-on-surface-accent: var(--color-neutral-900---p-dark);
--surface-icon-card: var(--color-teal-300);
--surface-icon-card-secondary: var(--color-teal-300);
--text-nav-item-dark: var(--color-base-black);
--surface-nav-dropdown-hover: var(--color-cream-50---p-background);
--stroke-nav-dropdown-hover: var(--color-cream-100);
--surface-navlink-active-dark: var(--color-teal-700);
--surface-navlink-active-light: var(--color-teal-100);
--stroke-navlink-active-light: var(--color-teal-800---p);
--stroke-navlink-active-dark: var(--color-teal-100);
--surface-utility-nav: var(--color-teal-50);
--text-nested-stat: var(--color-navy-primary-900---p);
}